<html>
    <head>
        <title>

        </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      {% load static %}
   
    
    </head>
    <body>
        <div class="p-3 mb-2 bg-success text-white">


        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                

                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        departments
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="http://www.sit.ac.in/department/cse/cse.html">cse</a>
                        <a class="dropdown-item" href="http://www.sit.ac.in/department/ise/ise.html">ise</a>
                        <a class="dropdown-item" href="http://www.sit.ac.in/department/ece/electronics.html">ec</a>
                        <a class="dropdown-item" href="http://www.sit.ac.in/department/ite/instrumentation.html">ei</a>
                        <a class="dropdown-item" href="https://sites.google.com/prod/sit.ac.in/mechanical">me</a>
                        <a class="dropdown-item" href="http://www.sit.ac.in/department/iem/iem.html">im</a>
                      </div>
                    </div>
                    

              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://opac.sit.ac.in:8080/newgenlibctxt/">opac</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/merit">merit</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="http://erp.sit.ac.in/">fee payment</a>
                </li>
            </ul>
          </nav>
        </div>
          
            <div class="jumbotron text-center">
                    <h1>Siddaganga Institute Of Technology Tumkur</h1>
                    <img src="{%static 'sit.jpg' %}" alt="logo" width="100" height="100">
                    <p>An Autonomous College, Affiliated by VTU belagavi</p> 

                  </div>
       <div class="container">         
       <div class="row">
         <div class="col-sm-4"></div>
         <div class="col">
            <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{%static 'abc.jpg' %}" alt="Siddaganga" width="1000" height='400'>
              </div>
              <div class="carousel-item">
                <img src="{%static 'a.jpg' %}" alt="main gate" width="1000" height="400">
              </div>
              <div class="carousel-item">
                <img src="{%static 'h.jpg' %}" alt="halcyon" width="1000" height="400">
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
          <div class="col-sm-4"></div>
          </div>
          </div>
       </div>
                  
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-4">
                        <h3>VISION</h3>
                        <p>To develop young minds in a learning environment of high academic ambience by synergising spiritual values and technological competence.</p>
                      </div>
                      <div class="col-sm-4">
                        <h3>MISSION</h3>
                        <p>To continuously strive for the total development of students by educating them in state-of-the-art-technologies and helping them imbibe professional ethics and societal commitment, so that they emerge as competent professionals to meet the global challenges.</p>
                      </div>
                      <div class="col-sm-4">
                        <h3>VALUES</h3> 
                        <p>*Impart Quality Education by establishing effective learning-teaching-learning processes to produce competent engineers and managers with high professional ethics and societal responsibility.</p>
                        <p>*Create congenial environment and provide state-of the-art infrastructure.</p>
                    </div>
                    </div>
                  </div>
                  
       
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          
    </body>
</html>